h1{
	background-color: blue;
	text-align:left;
	background-color :lightblue; 
border: 10px solid darkblue;
font-size:20px;
padding:41px;
margin:21px;


}

p{background-color:blue;
	text-align:right;
	background-color:lightblue;
	border-radius :20px;
	border:15px dotted blue;
	padding:40px;
	margin:21px;
}